.background {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #e8e8e8;
    padding: 32px;
    font-size: 1.6rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.table {
    width: 100%;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.table-title,
.table-content {
    width: 100%;

    display: grid;
    grid-template-areas:
        'topbar topbar topbar topbar topbar topbar';
    grid-template-columns: 1.5fr 2fr 1.5fr 2.5fr 1.5fr 1fr;
}

.table-title span {
    font-weight: bold;
    padding: 8px 16px;
}

.table-content span {
    padding: 8px 16px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

@media (max-width: 850px) {
    .table {
        width: 800px;
    }
}